.error404 {}

.error404 .error-title {
    text-align: center;
    font-size: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1;
}

.error404 .error-text {
    text-align: center;
}

.error404 .error-button {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;

    background-color: #eeeeee;
    background-color: var(--color-light-grey);
    
    color: #333333;
    color: var(--color-grey);
}