.post {}

.post-image {
    background-image: url(../../images/news/news_01.png);
    background-position: top center;
    background-size: cover;
    min-height: 300px;
    margin: 0 -8px;
    padding: 0 8px;
    text-shadow: var(--text-shadow);
    color: var(--color-white);
}

.post-image > .row {
    min-height: calc(300px - 8px);
}

.post-lead {
    font-size: 1.2rem;
    font-weight: 700;
}

.post-content{
    padding: 2rem 0 1rem;
}

@media screen and (min-width: 48rem) {
    .post-image {
        margin: 0 -16px;
        padding: 0 16px;
    }
}