.content-card {
    background-color: #ffffff;
    background-color: var(--color-white);

    box-shadow: 0 10px 20px rgba(0,0,0,.19);
    box-shadow: var(--content-card-shadow);

    padding: 0 1rem;
    padding: 0 var(--padding-xs);
}

.content-card.inverted {
    background-color: #000000;
    background-color: var(--color-black);

    color: #ffffff;
    color: var(--color-white);
}

.content-card-title {
    font-size: 2rem;
    margin-top: 0;
}

.content-card-extras-title {
    font-size: 1.17rem;
    font-weight: 100;
    text-transform: uppercase;
}

.content-card-extras-title.no-margin {
    margin-top: 0;
}

.content-card-button {
    margin-top: 1rem;
    margin-bottom: 1rem;

    background-color: #eeeeee;
    background-color: var(--color-light-grey);

    color: #333333;
    color: var(--color-grey);
}

/* Content Card Trailer */
.content-card.trailer {
    padding: 0;
}

.content-card .trailer-cover {
    background-image: url(../../images/videooverlay/videooverlay.png);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    transition: .3s opacity;
}

/* Page template */
.content-card.page-template .content-card-title {
    margin-bottom: 8px;
}
.content-card.page-template .post-content {
    padding-top: 0;
}

@media screen and (min-width: 48em) {
    .content-card {
        padding: 1rem;
        padding: var(--padding);

        margin-bottom: 2rem;
        margin-bottom: var(--margin);
    }

    .content-card-title {
        margin-top: 8px;
    }
}