.trailer-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.8);
}

.trailer-overlay.show {
    display: flex;
}

.trailer-overlay-content {
    background-color: var(--color-white);
    box-shadow: var(--content-card-shadow);
    width: calc(100% - 2rem);
}

@media screen and (min-width: 48rem) {
    .trailer-overlay-content {
        width: calc(80% - 2rem);
    }
}