:root {
    /* Sizing */
    --mobile-sizing: .5rem;
    --desktop-sizing: 1rem;

    --padding: var(--desktop-sizing);
    --padding-xs: var(--mobile-sizing);
    --margin: 2em;
    --margin-xs: var(--mobile-sizing);
    
    /* Typography */
    --text-shadow: 1px 1px 2px rgba(0,0,0,.16);

    /* Content Card */
    --content-card-shadow: 0 10px 20px rgba(0,0,0,.19);

    /* Movie Card */
    --movie-card-shadow: 1px 2px 3px rgba(0,0,0,.16);

    /* Program */
    --program-box-shadow: 1px 2px 3px rgba(0,0,0,.16);

    /* Colors */
    --color-black: #000;
    --color-grey: #333;
    --color-light-grey: #eee;
    --color-white: #fff;
    --color-red: #BF3131;
}